<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KuaforRandevu</title>


    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />*@

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/dist/semantic.min.css">
</head>
<body style="background-color:greenyellow">
    <header>
        <div class="ui container">
            <div class="ui secondary pointing menu dividing header">
                <a class="item" href="@Url.Content("~/")">Homepage</a>
                <a class="item" href="@Url.Content("~/FrontSide/AboutUs")">About Us</a>
                <a class="item" href="@Url.Content("~/FrontSide/Experts")">Experts</a>
                <a class="item" href="@Url.Content("~/FrontSide/Gallery")">Gallery</a>
                <a class="item" href="@Url.Content("~/FrontSide/Contact")">Contact</a>
                <div class="right menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("user"))
                        {
                            <a class="ui item" href="~/UserPanel/SetAppointment">Set an Appointment</a>
                        }
                        <a class="ui item" href="@Url.Content("~/Login")">@User.Identity.Name</a>
                    }
                    else
                    {
                        <a class="ui item" href="@Url.Content("~/Login")">Login</a>
                        <a class="ui item" href="@Url.Action("Register","Login")">Register</a>
                    }

                </div>
            </div>        
        </div>
    </header>
    <div class="ui container">        
            @RenderBody()        
    </div>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <script src="~/js/site.js"></script>
    <script src="~/dist/semantic.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
