@model KuaforRandevu2.Models.Entities.User
@{
    ViewData["Title"] = "Personal Settings";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="ui container grid padded">
    <div class="row">
        <div class="column">
            @using (Html.BeginForm("PersonalSettings", "UserPanel", null, FormMethod.Post, true, new { @class = "ui large form error" }))
            {
                @Html.HiddenFor(m => m.Id);
                @Html.HiddenFor(m => m.RoleId);
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" });
                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password" });
                <select name="Gender">
                    <option selected value="@Model.Gender">@Model.Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <br />
                @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name" });
                @Html.TextBoxFor(m => m.Email, new { placeholder = "E-Mail" });
                @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone" });
                @Html.TextBoxFor(m => m.Address, new { placeholder = "Address" });
                
                <button class="ui fluid large teal submit button" type="submit">Update</button>
            }
            <a class="ui button secondary" href="~/UserPanel">User Home</a>
        </div>
    </div>
</div>


