@model KuaforRandevu2.Models.Entities.Appointment
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="ui container centered grid padded">
    <div class="row">
        <div class="eight wide column">
            @using (Html.BeginForm("AppointmentUpdate", "AdminPanel", null, FormMethod.Post, true, new { @class = "ui large form error" }))
            {
                @Html.HiddenFor(m => m.ExpertId)
                @Html.HiddenFor(m => m.UserId)

                @Html.LabelFor(m => m.Expert.User.FullName, "Expert");
                @Html.TextBox("FullName", ViewBag.user.FullName, "", new { @readonly = "readonly" });
                @Html.LabelFor(m => m.AppointmentDate, "Appointment Date");
                @Html.TextBoxFor(m=>m.AppointmentDate, new { type="datetime-local"})                
                <button class="ui fluid large teal submit button" type="submit">Update</button>
            }

            <a class="ui blue button" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>



