@model IQueryable<KuaforRandevu2.Models.Entities.ContactForm>
@{
    Layout = "_AdminLayout";
}
<div class="ui container centered padded grid">
    <div class="row">
        <div class="wide column">
            <table class="ui attached inverted table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Full Name</td>
                        <td>Title</td>
                        <td>Message</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contactForm in Model)
                    {
                        <tr class="padded">
                            <td>@contactForm.Id</td>
                            <td>@contactForm.FullName</td>
                            <td>@contactForm.Title</td>
                            <td>@contactForm.Message</td>
                            <td>@contactForm.Email</td>
                            <td>@contactForm.Phone</td>
                            <td>
                                <a href="~/AdminPanel/ContactFormDelete/@contactForm.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="ui button default" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>
