@model IQueryable<KuaforRandevu2.Models.Entities.Gallery>
@{
    Layout = "_AdminLayout";
}
    <div class="ui container centered padded grid">
        <div class="row">
            <div class="wide column">
                <table class="ui attached inverted table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Image User</td>
                            <td>Text</td>
                            <td>Path</td>
                            <td>Date</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var gallery in Model)
                        {
                            <tr>
                                <td>@gallery.Id</td>
                                <td>@gallery.ImgUser.FullName</td>
                                <td>@gallery.ImgText</td>
                                <td>@gallery.ImgPath</td>
                                <td>@gallery.ImgDate</td>
                                <td>
                                    <a href="~/AdminPanel/GalleryUpdate/@gallery.Id">Edit</a>
                                </td>
                                <td>
                                    <a href="~/AdminPanel/GalleryDelete/@gallery.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="ui button primary" href="~/AdminPanel/GalleryAdd">Add</a>
                <a class="ui button default" href="~/AdminPanel">Admin Home</a>
            </div>
        </div>
    </div>
