
@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <br />
<div class="ui container grid centered">
    <div class="row">
        <div class="wide column">
            @Html.ActionLink("APPOINTMENT MANAGEMENT", "AppointmentManagement", "AdminPanel", null, new { @class = "ui button red padded huge", style = "width:100%" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="four wide column">
            @Html.ActionLink("USER MANAGEMENT", "UserManagement", "AdminPanel", null, new { @class = "ui button secondary padded huge", style = "width:100%" })
        </div>
        <div class="four wide column">
            @Html.ActionLink("EXPERT MANAGEMENT", "ExpertsManagement", "AdminPanel", null, new { @class = "ui button secondary padded huge", style = "width:100%" })
        </div>
        <div class="four wide column">
            @Html.ActionLink("CONTACT FORM MANAGEMENT", "ContactFormManagement", "AdminPanel", null, new { @class = "ui button secondary padded huge", style = "width:100%" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="four wide column">
            @Html.ActionLink("ABOUT US MANAGEMENT", "AboutUsManagement", "AdminPanel", null, new { @class = "ui button default padded huge", style = "width:100%" })
        </div>
        <div class="four wide column">
            @Html.ActionLink("GALLERY MANAGEMENT", "GalleryManagement", "AdminPanel", null, new { @class = "ui button default padded huge", style = "width:100%" })
        </div>
        <div class="four wide column">
            @Html.ActionLink("CONTACT MANAGEMENT", "ContactManagement", "AdminPanel", null, new { @class = "ui button default padded huge", style = "width:100%" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="eight wide column">
            @Html.ActionLink("Site Homepage", "Index", "FrontSide", null, new { @class = "green ui button mini", style = "width:100%" })
        </div>
        <div class="eight wide column">
            @Html.ActionLink("Sign Out", "SignOut", "Login", null, new { @class = "red ui button mini", style = "width:100%" })
        </div>
    </div>
</div>


