
@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("APPOINTMENT MANAGEMENT", "AppointmentManagement", "AdminPanel", null, new { @class = "btn btn-primary p-5", style = "width:100%" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink("USER MANAGEMENT", "UserManagement", "AdminPanel", null, new { @class = "btn btn-secondary p-5", style = "width:100%" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("EXPERT MANAGEMENT", "ExpertsManagement", "AdminPanel", null, new { @class = "btn btn-secondary p-5", style = "width:100%" })
                </div>
                <div class="col-md-4 d-block">
                    @Html.ActionLink("CONTACT FORM MANAGEMENT", "ContactFormManagement", "AdminPanel", null, new { @class = "btn btn-secondary p-5", style = "width:100%" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink("ABOUT US MANAGEMENT", "AboutUsManagement", "AdminPanel", null, new { @class = "btn btn-warning p-5", style = "width:100%" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("GALLERY MANAGEMENT", "GalleryManagement", "AdminPanel", null, new { @class = "btn btn-warning p-5", style = "width:100%" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("CONTACT MANAGEMENT", "ContactManagement", "AdminPanel", null, new { @class = "btn btn-warning p-5", style = "width:100%" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Site Homepage", "Index", "FrontSide", null, new { @class = "btn btn-success", style = "width:100%" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Sign Out", "SignOut", "Login", null, new { @class = "btn btn-danger", style = "width:100%" })
                </div>
            </div>
        </div>
    </div>
</div>

