@model IQueryable<KuaforRandevu2.Models.Entities.User>
@{
    Layout = "_AdminLayout";
}
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-bordered text-center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Role</td>
                        <td>FullName</td>
                        <td>UserName</td>
                        <td>Password</td>
                        <td>Gender</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Address</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr class="p-1">
                            <td>@user.Id</td>
                            <td>@user.Role.RoleName</td>
                            <td>@user.FullName</td>
                            <td>@user.UserName</td>
                            <td>@user.Password</td>
                            <td>@user.Gender</td>
                            <td>@user.Email</td>
                            <td>@user.Phone</td>
                            <td>@user.Address</td>
                            <td>
                                <a href="~/AdminPanel/UserUpdate/@user.Id">Edit</a>
                            </td>
                            <td>
                                <a href="~/AdminPanel/UserDelete/@user.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="~/AdminPanel/UserAdd">Add User</a>
            <a class="btn btn-secondary" href="~/AdminPanel">Admin Home</a>
        </div>
    </div>
</div>
