@model KuaforRandevu2.Models.Entities.ContactForm
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui grid centered container padded">
    <div class="row">
        <div class="four wide column">
            <h3>Instagram</h3>
            <p><a href="https://instagram.com/@ViewBag.Contact.Instagram">@ViewBag.Contact.Instagram</a></p>
        </div>
        <div class="four wide column">
            <h3>Facebook</h3>
            <p><a href="https://fb.com/@ViewBag.Contact.Facebook">@ViewBag.Contact.Facebook</a></p>
        </div>
        <div class="four wide column">
            <h3>Google+</h3>
            <p><a href="https://plus.google.com/@ViewBag.Contact.GooglePlus">@ViewBag.Contact.GooglePlus</a></p>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <h3>Email</h3>
            <p>@ViewBag.Contact.Email</p>
        </div>
        <div class="four wide column">
            <h3>Phone</h3>
            <p>@ViewBag.Contact.Phone</p>
        </div>
        <div class="four wide column">
            <h3>Address</h3>
            <p>@ViewBag.Contact.Address</p>
        </div>
    </div>


    <br />
    <br />
    <br />

    <div class="row centered">
        <div class="col-md-12">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="1080" height="395" id="gmap_canvas" src="https://maps.google.com/maps?q=ait%20bilgisayar&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://ytify.com">youtube to m3p</a></div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 395px;
                        width: 1080px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 395px;
                        width: 1080px;
                    }
                </style>
            </div>
        </div>

    </div>
</div>

<div class="ui middle aligned center aligned grid padded">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                Send Your Message
            </div>
        </h2>
        @using (Html.BeginForm("ContactFormAdd", "AdminPanel", FormMethod.Post, new { @class = "ui large form error" }))
        {
            <div class="ui stacked segment">
                <div class="field error">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name" })
                    </div>
                </div>
                <div class="field error">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "E-mail Address" })
                    </div>
                </div>
                <div class="field error">
                    <div class="ui left icon input">
                        <i class="phone icon"></i>
                        @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone" })
                    </div>
                </div>
                <div class="field error">
                    <div class="ui left icon input">
                        <i class="book icon"></i>
                        @Html.TextBoxFor(m => m.Title, new { placeholder = "Title" })
                    </div>
                </div>
                <div class="field error">
                    <div class="ui left icon input">
                        @Html.TextAreaFor(m => m.Message, new { placeholder = "Message" })
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Send</button>
            </div>

        }

    </div>
</div>