@model KuaforRandevu2.Models.Entities.User
@{
    Layout = "_Layout";
}
<div class="ui container grid padded">
    <div class="row">
        <div class="wide column">
            @using (Html.BeginForm("Register", "Login", null, FormMethod.Post, true, new { @class = "ui large form error" }))
            {
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "User Name" });
                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password" });
                @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name" });
                <select name="selectedGender">
                    <option selected>Select an Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "E-Mail" });
                @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone" });
                @Html.TextAreaFor(m => m.Address, new { placeholder = "Address" });

                <button class="ui fluid large teal submit button" type="submit">Register</button>
            }
            <a class="ui default button" href="~/">Home</a>
        </div>
    </div>
</div>

